# Properly detect languages on Github
*.h linguist-language=cpp
*.inc linguist-language=cpp
drivers/* linguist-vendored

*.cpp eol=lf
*.mm eol=lf
*.h eol=lf
*.py eol=lf
*.hpp eol=lf
*.xml eol=lf
*.natvis eol=lf
*.yml eol=lf
*.md eol=lf
*.gd eol=lf
*.tres eol=lf
*.tscn eol=lf
*.json eol=lf
*.godot eol=lf
*.uid eol=lf
*.cfg eol=lf
*.svg eol=lf
*.import eol=lf
*.rs eol=lf
*.toml eol=lf
*.lock eol=lf
*.pyi eol=lf
LICENSE-* eol=lf
LICENSE eol=lf
