<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
	<PropertyGroup>
		<PublishTrimmed>true</PublishTrimmed>
		<PublishAot>true</PublishAot>
		<SelfContained>true</SelfContained>
	</PropertyGroup>
	<Target Name="CustomActionsAfterPublish" AfterTargets="Publish">
		<ItemGroup>
			<LibFiles Include="$(PublishDir)../native/*.lib" />
			<ExpFiles Include="$(PublishDir)../native/*.exp" />
		</ItemGroup>
		<Copy SourceFiles="@(LibFiles)" DestinationFolder="$(PublishDir)" Condition="$(RuntimeIdentifier.StartsWith('win'))"/>
		<Copy SourceFiles="@(ExpFiles)" DestinationFolder="$(PublishDir)" Condition="$(RuntimeIdentifier.StartsWith('win'))"/>

		<!-- if we're on macos, run install_name_tool to change the library path -->
		<Exec Command="install_name_tool -id @rpath/$(AssemblyName).dylib $(PublishDir)../native/$(AssemblyName).dylib" Condition="$(RuntimeIdentifier.StartsWith('osx'))"/>
		<Exec Command="install_name_tool -id @rpath/$(AssemblyName).dylib $(PublishDir)$(AssemblyName).dylib" Condition="$(RuntimeIdentifier.StartsWith('osx'))"/>
	</Target>
</Project>
