<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
	<PropertyGroup>
		<PublishTrimmed>true</PublishTrimmed>
		<PublishAot>true</PublishAot>
		<SelfContained>true</SelfContained>
	</PropertyGroup>
	<Target Name="FixSharedLibraryAfterPublish" AfterTargets="Publish" Condition="'$(NativeLib)' == 'Shared'">
		<ItemGroup>
			<LibFiles Include="$(PublishDir)../native/*.lib" />
			<ExpFiles Include="$(PublishDir)../native/*.exp" />
		</ItemGroup>
		<Copy SourceFiles="@(LibFiles)" DestinationFolder="$(PublishDir)" Condition="$(RuntimeIdentifier.StartsWith('win'))"/>
		<Copy SourceFiles="@(ExpFiles)" DestinationFolder="$(PublishDir)" Condition="$(RuntimeIdentifier.StartsWith('win'))"/>
	</Target>
</Project>
